<!-- <p>{{selectedTile.name}}</p> -->
<!-- <p>{{tileID}}</p> -->
 <body>
    <div>{{name}}</div>
    @if (price !== 0){
        <div>{{price}}</div>
    }  
 </body>

<!-- <p>price</p> -->
<!-- <p>id: 1,

    name: 'Havoc Hotel',
    style:'grid-column: 1 / 2; grid-row: 4 / 5;',
    class: 'property brown',
    price: 350.0,
    propInfo: {
        build: 200.0,
        rent: 35.0,
        house1: 175.0,
        house2: 500.0,
        house3: 1100.0,
        house4: 1300.0,
        hotel: 1500.0
    }</p> -->
